<div class="example-sidenav-content">
  <h2 class="content-header">User Management</h2>
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <!--<td class="mat-header-cell">Id</td>-->
        <td class="mat-header-cell">Name</td>
        <td class="mat-header-cell">Email</td>
        <td class="mat-header-cell">Tags</td>
        <td class="mat-header-cell"></td>
      </tr>
    </thead>
    <tbody>
      <tr class="mat-row" *ngFor="let row of users" (click)="router.navigate(['/users/' + row._id])">
        <!--<td class="mat-cell">{{row._id}}</td>-->
        <td class="mat-cell">{{row.last_name}}, {{row.first_name}}</td>
        <td class="mat-cell">{{row.email}}</td>
        <td class="mat-cell">{{row.tags.join(', ')}}</td>
        <td class="mat-cell">

        </td>
      </tr>
    </tbody>
  </table>

  <a md-fab href="#/users/new" color="default" class="add-new"><md-icon>add</md-icon></a>
</div>