<div class="example-sidenav-content">
  <md-card>
    <h2 class="">Password Management</h2>
    <br><br>
    <md-input-container *ngIf="resetDTO">
      <input mdInput type="password" required [(ngModel)]="resetDTO.password" id="password" name="password" autofocus="true">
      <md-placeholder>
        New Password
      </md-placeholder>
    </md-input-container><br><br>
    <md-input-container *ngIf="resetDTO">
      <input mdInput type="password" required [(ngModel)]="resetDTO.confirm_password" id="confirm_password" name="confirm_password">
      <md-placeholder>
        Confirm Password
      </md-placeholder>
    </md-input-container><br><br>
    <button md-raised-button type="submit" name="action" [disabled]="loading" (click)="resetPassword()" id="reset" *ngIf="resetDTO?._id">Reset Password</button>
    <br><br>
    <span id="err"><small>{{resetDTO?.error}}</small></span>
  </md-card>
</div>