.example-sidenav-content {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

md-card {
    padding-bottom: 45px;
    margin-top: 30px;
}

#save, #reset {
    margin-left: 15px;
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
