.example-sidenav-content {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

md-card {
    padding-bottom: 60px;
}


md-sidenav-container {
    
}

#save, #reset {
    margin-left: 15px;
    float: right;
    margin-top: 30px;
}

.err {
    color: red;
    font-style: italic;
    margin-left: 15px;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0px;
}

label.info {
    color: #c0c0c0;
    font-style: italic;
    margin-left: 60px;
}
[md-raised-button].right {
    float:right;
}

.mat-input-container {
    width: 100%;
}
