
<md-sidenav-container>
  <md-sidenav 
    class="sidenav sub"
    mode="side" 
    opened="true">
    <nav>
      <ul>
        <li><a md-list-item> <h1>Settings</h1></a></li>
        <li *ngFor="let item of settingsPages?.values" class="{{item.label === currentSettingsPage.label ? 'active' : ''}}"><a md-list-item href="#/settings/{{item.label}}" class="hover"> {{item.label}} </a></li>
      </ul>
    </nav>
  </md-sidenav>
  <iframe *ngIf="iframeMode" [src]="sanitizedPageUrl"></iframe>

  <div class="settings-page" *ngIf="currentSettingsPage?.label?.toLowerCase() === 'admin'">
    <div class="example-sidenav-content">
      <h2 class="content-header">Administrative Settings</h2>
      <md-card *ngIf="currentSetting && currentSetting.values.password_reset">
        <h2>Password Reset</h2><br>
        <md-input-container>
          <input mdInput type="text" required [(ngModel)]="currentSetting.values.password_reset.sender" id="sender" name="sender" autofocus="true">
          <md-placeholder>
            <i class="material-icons app-input-icon">mail</i>Sender
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Email address that is displayed for sender when sending password reset emails</label>
        <span class="err"><small>{{settingResponse?.errors?.sender}}</small></span><br><br> <br> 
        <md-input-container>
          <input mdInput type="text" required [(ngModel)]="currentSetting.values.password_reset.subject" id="subject" name="subject">
          <md-placeholder>
            Subject
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Email subject for password reset emails</label>
        <span class="err"><small>{{settingResponse?.errors?.subject}}</small></span><br><br><br>
        <md-input-container>
          <input mdInput type="text" required [(ngModel)]="currentSetting.values.password_reset.reset_url" id="reset_url" name="reset_url">
          <md-placeholder>
            Reset URL
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Url for password reset. {{id}} is the user's id number and {{token}} is the jwt for the password reset action</label>
        <span class="err"><small>{{settingResponse?.errors?.reset_url}}</small></span><br><br>  <br>

        <button md-raised-button color="primary" class="right" (click)="saveSetting()">Save</button>
      </md-card>
    </div>
  </div>

  <div class="settings-page" *ngIf="currentSettingsPage?.label?.toLowerCase() === 'smtp'">
    <div class="example-sidenav-content">
      <h2 class="content-header">SMTP Settings</h2>
      <md-card *ngIf="currentSetting && currentSetting.values && currentSetting.values.auth">
        <h2>Host</h2><br>
        <md-input-container>
          <input mdInput type="text" required [(ngModel)]="currentSetting?.values.host" id="host" name="host" autofocus="true">
          <md-placeholder>
            Host
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Hostname for SMTP server</label>
        <span class="err"><small>{{settingResponse?.errors?.host}}</small></span><br><br> <br> 
        <md-input-container>
          <input mdInput type="number" required [(ngModel)]="currentSetting?.values.port" id="port" name="port">
          <md-placeholder>
            Port
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Port number for SMTP to communicate on</label>
        <span class="err"><small>{{settingResponse?.errors?.port}}</small></span><br><br><br>


        <md-input-container>
          <input mdInput type="text" required [(ngModel)]="currentSetting?.values.auth.user" id="user" name="user">
          <md-placeholder>
            Username
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Username for SMTP to authenticate with</label>
        <span class="err"><small>{{settingResponse?.errors?.auth.user}}</small></span><br><br><br>


        <md-input-container>
          <input mdInput type="password" required [(ngModel)]="currentSetting?.values.auth.pass" id="user" name="user">
          <md-placeholder>
            Password
          </md-placeholder>
        </md-input-container><br>
        <label class="info">Password for SMTP to authenticate with</label>
        <span class="err"><small>{{settingResponse?.errors?.auth.pass}}</small></span><br><br><br>


        <md-slide-toggle [(ngModel)]="currentSetting?.values.secure">Secure</md-slide-toggle><br>
        <label class="info">Secure connection established with SMTP server</label>
        <span class="err"><small>{{settingResponse?.errors?.secure}}</small></span><br><br>  <br>

        <button md-raised-button color="primary" class="right" (click)="saveSetting()">Save</button>
      </md-card>
    </div>
  </div>

  
  
</md-sidenav-container>