<div class="example-sidenav-content">
  <header>
  <h2 class="">Handlers</h2>
  <md-select placeholder="Module" [(ngModel)]="moduleFilter">
    <md-option *ngFor="let m of modules" [value]="m">{{m}}</md-option>
  </md-select>
  </header>
  <table class="mat-table">
    <thead>
      <tr class="mat-header-row">
        <!--<td class="mat-header-cell">Id</td>-->
        <td class="mat-header-cell">Name</td>
        <td class="mat-header-cell">Module</td>
        <td class="mat-header-cell">Route</td>
        <td class="mat-header-cell"></td>
      </tr>
    </thead>
    <tbody>
      <tr class="mat-row" *ngFor="let row of handlers" (click)="router.navigate(['/handlers/' + row._id])">
        <!--<td class="mat-cell">{{row._id}}</td>-->
        <td class="mat-cell">{{row.name}}</td>
        <td class="mat-cell">{{row.module}}</td>
        <td class="mat-cell">{{row.routeMatcher}}</td>
        <td class="mat-cell">

        </td>
      </tr>
    </tbody>
  </table>

  <a md-fab href="#/handlers/new" color="default" class="add-new"><md-icon>add</md-icon></a>
</div>