.add-new {
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.example-sidenav-content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    height: 60px;
    margin-bottom: 10px;
}

md-select {
    margin-top: 20px;
    float: right;
}

h2 {
    float: left;
}
