
<div class="app-content">
  <div class="group">

    <form role="form" (submit)="submit()"><br>
      <h2>Function Five <u style="color: darkorange">CMS</u></h2>
      <md-input-container>
        <input mdInput type="text" required [(ngModel)]="user.username" id="username" name="username" >
        <md-placeholder>
          <i class="material-icons app-input-icon">face</i>Username
        </md-placeholder>
      </md-input-container><br><br>
      <md-input-container>
        <input mdInput type="password" required [(ngModel)]="user.password" id="password" name="password" >
        <md-placeholder >
          <i class="material-icons app-input-icon">lock_open</i>Password
        </md-placeholder>
      </md-input-container><br><br>
      <button md-raised-button type="submit" name="action">LOGIN</button><br><br>
      <span id="err"><small>{{authResponse?.error}}</small></span>
      <md-slide-toggle color="primary"><small>Remember me!</small></md-slide-toggle>
    </form >
  </div>
</div>
