<!--The content below is only a placeholder and can be replaced.-->
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav
    class="sidenav" 
    mode="side" 
    opened="true"
    *ngIf="sidebarHidden">
    <nav>
    <ul>
      <li class='header'><h1>FF<span class='accent'>CMS</span></h1></li>
      <li><a md-list-item href="#/dashboard" class="hover"> Dashboard </a></li>
      <li><a md-list-item href="#/handlers" class="hover"> Handlers </a></li>
      <li><a md-list-item href="#/users" class="hover"> Users </a></li>
      <li><a md-list-item href="#/settings" class="hover"> Settings </a></li>
      <li class="pull-bottom"><a md-list-item (click)="logout()" class="hover"> <md-icon>exit_to_app</md-icon>Logout </a></li>
    </ul>
    </nav>
  </md-sidenav>

  
  <router-outlet></router-outlet>
  

  

</md-sidenav-container>