.example-sidenav-content {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

#save, #reset {
    margin-left: 15px;
    float: right;
    margin-top: 30px;
}

.err {
    color: red;
    font-style: italic;
    margin-left: 15px;
}