<div class="example-sidenav-content">
  <h2 class="content-header">User Details</h2>
  <md-card>
    <md-input-container *ngIf="user">
      <input mdInput type="text" required [(ngModel)]="user.email" id="email" name="email" autofocus="true">
      <md-placeholder>
        <i class="material-icons app-input-icon">mail</i>Email
      </md-placeholder>
    </md-input-container><span class="err"><small>{{userResponse?.errors?.email}}</small></span><br><br>
    <md-input-container *ngIf="user">
      <input mdInput type="text" required [(ngModel)]="user.first_name" id="first_name" name="first_name">
      <md-placeholder>
        First Name
      </md-placeholder>
    </md-input-container><span class="err"><small>{{userResponse?.errors?.first_name}}</small></span><br><br>
    <md-input-container *ngIf="user">
      <input mdInput type="text" required [(ngModel)]="user.last_name" id="last_name" name="last_name">
      <md-placeholder>
        Last Name
      </md-placeholder>
    </md-input-container><span class="err"><small>{{userResponse?.errors?.last_name}}</small></span><br><br>
    <md-slide-toggle [(ngModel)]="tags.Administrator">Administrator</md-slide-toggle><br><br>
    <md-slide-toggle [(ngModel)]="tags.Author">Author</md-slide-toggle>
    <button md-raised-button type="submit" name="action" [disabled]="loading" (click)="save()" id="save" color="primary">Save</button>
    <button md-raised-button type="submit" name="action" [disabled]="loading" (click)="resetPassword()" id="reset" *ngIf="user?._id">Reset Password</button>
    <br><br>
    
  </md-card>
</div>