/* You can add global styles to this file, and also import other style files */


@import '~@angular/material/prebuilt-themes/indigo-pink.css';   

body
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    margin: 0px
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

.mat-sidenav-container
    width: 100%;
    height: 100%;

md-sidenav.sidenav.sub
    background-color: white

md-sidenav.sidenav 
    width: 250px;    
    max-width: 250px;
    box-shadow: 3px 0 6px rgba(0,0,0,.14);
    background-color: #3f51b5

md-sidenav.sidenav li 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #687aff;
    margin: 0;
    padding: 0;
    cursor: pointer;


md-sidenav.sidenav li:first 
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #687aff;


md-sidenav.sidenav ul 
    list-style-type: none;
    margin: 0;
    padding: 0;


md-sidenav.sidenav li md-icon 
    float: right;
    margin-top: 12px;

md-sidenav.sidenav.sub li.active 
    background-color: #f1f1f1

md-sidenav.sidenav.sub li.active:hover
    background-color: #e6e6e6

md-sidenav.sidenav.sub li
    border-bottom-color: #e9e9e9

md-sidenav.sidenav li.pull-bottom 
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-top: 1px solid #687aff;

hr
    border-color: rgba(63,81,181,.12)
    margin-bottom: 30px

md-sidenav.sidenav.sub li>a.hover:hover
    background: #c0c0c0;

md-sidenav.sidenav li>a.hover:hover
    background: #687aff;

md-sidenav.sidenav.sub li>a
    color: #0d0d0d

md-sidenav.sidenav li>a 
    color: rgba(0,0,0,.54);
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
    color: white

md-sidenav.sidenav li.header 
    text-align: center;

md-sidenav.sidenav li.header h1 
    margin-top: 20px;
    margin-bottom: 20px;
    color: white

md-sidenav.sidenav li.header .accent 
  color: #e91e63; margin-left: 5px;
  font-weight: bold

.mat-slide-toggle
  margin-top: 10px


.app-input-icon
  font-size: 16px
  margin-right: 10px


h1
  font-size: 2em
  font-weight: normal
  color: rgba(0,0,0,.7)

h2
  font-size: 1.5em
  font-weight: normal
  color: rgba(0,0,0,.7)

h3
  font-size: 1em;
  font-weight: normal
  color: rgba(0,0,0,.7)

h2.content-header 
  text-align: right


.mat-sidenav-content
    //padding-right: 30px
    //padding-left: 30px

.mat-table 
    display: block;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.01), 0 3px 14px 2px rgba(0, 0, 0, 0.10);


.mat-table thead, .mat-table tbody 
    display: block;


.mat-header-row, .mat-row 
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    height: 48px;
    padding: 0 24px;


.mat-row:hover 
    background-color: #fafafa;
    cursor: pointer;


.mat-header-row, .mat-row 
    border-bottom-color: rgba(0,0,0,.12);


.mat-cell, .mat-header-cell 
    flex: 1;


.mat-cell 
    color: rgba(0,0,0,.87);


.mat-cell 
    font-size: 14px;


.mat-header-cell 
    color: rgba(0,0,0,.54);


.mat-header-cell 
    font-size: 12px;
    font-weight: 500;



@media (max-width: 768px)
    md-sidenav.sidenav 
        width: 150px;    
        max-width: 150px;
    
