<md-toolbar> 
<span>Details</span>
</md-toolbar>
<md-card> 
  <p>
    dashboard works!
  </p>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
  <pre>{{profile | json}}</pre>
</md-card>