.example-sidenav-content {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
}

ace-editor {
    width: 100%;
    height: 400px;
}

md-card {
    padding-bottom: 60px;
}

#save, #reset {
    margin-left: 15px;
    float: right;
    margin-top: 30px;
}

.err {
    color: red;
    font-style: italic;
    margin-left: 15px;
}