<div class="example-sidenav-content">
  <h2 class="content-header">Handler Details</h2>
  <md-card>
    <md-input-container *ngIf="handler">
      <input mdInput type="text" required [(ngModel)]="handler.name" id="name" name="name">
      <md-placeholder>
        Name
      </md-placeholder>
    </md-input-container><span class="err"><small>{{handlerResponse?.errors?.name}}</small></span>



    <md-input-container *ngIf="handler">
      <input mdInput type="text" required [(ngModel)]="handler.module" id="module" name="module">
      <md-placeholder>
        Module
      </md-placeholder>
    </md-input-container><span class="err"><small>{{handlerResponse?.errors?.module}}</small></span>


    <md-input-container *ngIf="handler">
      <input mdInput type="text" required [(ngModel)]="handler.routeMatcher" id="routeMatcher" name="routeMatcher">
      <md-placeholder>
        Route Matcher
      </md-placeholder>
    </md-input-container><span class="err"><small>{{handlerResponse?.errors?.routeMatcher}}</small></span>

    <label>Type</label><br>
    <md-select [(ngModel)]="handler.type" *ngIf="handler">
      <md-option *ngFor="let t of handlerTypes" [value]="t">{{t}}</md-option>
    </md-select><span class="err"><small>{{handlerResponse?.errors?.type}}</small></span><br><br>

    <ace-editor *ngIf="source"
       [(text)]="source.content"></ace-editor>

       <label>Version: <em>{{source.version_number}}</em></label>

    <button md-raised-button type="submit" name="action" [disabled]="loading" (click)="save()" id="save" color="primary">Save</button>

    <br><br>
    
  </md-card>
</div>